<!DOCTYPE html!>
<html>
<head>
  <title>Bookers2</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bookers</a>
   </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/"><span class="glyphicon glyphicon-home" ></span> Home</a></li>
      <li><a href="/users/about"><span class="glyphicon glyphicon-link"></span> About</a></li>
      <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container">
<div class="row">
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
<div class="actions">
    <a href="#" class="btn btn-danger" role="button">Send me reset password instructions</a>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
<footer class="container>
<div class="row">
<div class="col-xs-3 col-xs-offset-9">
<p>CopyRight Infratop.inc</p>
</div>
<div>
</footer>
</body>
</html>
